.circle-props {
  height: 15px;
  width: 15px;
  border-radius: 80%;
  display: inline-block;
  position: absolute;
}

.height-width-100 {
  height: 100%;
  width: 100%;
}

.container-props {
  height: 100%;
  width: 92%;
  border: 1px beige;
  border-bottom-style: solid;
  position: relative;
  float: right;
}

.y-timeline-props {
  border-top-style: dashed;
  border-color: beige;
  height: 15.1%;
}

.y-timeline-label-props {
  height: 100%;
  width: 8%;
  float: left;
}

.y-timeline-label-div-props {
  height: 33.3%;
}

.y-label-padding{
  float: right;
  padding-right: 12%;
  margin-top: -10%;
}